background {
    color: #151619;
}

.logo-name{
    font-size: 20px;
    display: inline-block;
    line-height: 1!important;
}
.logo-specialize {
    float: right;
}

.logo {
    padding-bottom: 5px !important;
}

.logo a {
    text-decoration: none;
}

.topnav {
    /*overflow: hidden;*/
}


/* Style the links inside the navigation bar */
.topnav ul li a {
    color: gray;
    float: left;
    text-align: center;
    padding: 5px 16px!important;
    text-decoration: none;
    font-size: 15px!important;
    line-height: 1.5!important;
    font-family: medium-content-sans-serif-font,"Myriad Pro","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
}

.bar{
    background-color: white!important;
    padding: 0!important;
}


.navbar{
    align: center!important;

}



.line{
    padding-left: 5%;
    padding-right: 5%;
    /*margin-top: 70px;*/
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333;
}



.main-menu{
    margin-top: 10px;
}


.left-photo {
    padding-top: 3%!important;
    padding-right: 1%!important;
    padding-left: 0!important;
    float: left;
}

.right-photo {
    padding-top: 3%!important;
    padding-left: 1%!important;
    padding-right: 0!important;
    float: right;
}

.contact{
    margin: 2% 2% 2% 2%;
}

.send-button {
    background-color: #151618;
    color: #fafafa;
}

.file{
    color: #fafafa;
    /*border: 0 !important;*/
    border-style: dashed!important;
}

.page-footer{
    position:relative;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    text-align: center;
}

.imageBox {
    position: relative;
    float: left;
}

.imageBox .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.imageBox:hover .hoverImg {
    display: block;
}

.after-menu{
    padding-left: 10%;
    padding-right: 10%;
    /*margin-left: 20%!important;*/
    /*margin-right: 5%!important;*/
}

.after-image{
    margin-bottom: 30px
}